# Python
__pycache__/
*.pyc
*.pyo

# Python Virtual Environment
.venv/
venv/

# Node.js
node_modules/
dist/

# Environment / Secrets
.env
.env.*

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# ML Datasets
ml/dataset/*.csv
ml/dataset/*.tsv